In [1]:
import pandas as pd

In [22]:
# 3 = humidity, 4 = temperature, 5 = rainfall, 6 = pressure
def call_API(w_type, n_data_pts):
    d = {'humidity':'3', 'temperature':'4', 'rainfall':'5', 'pressure':'6'}
    
    fields_n = d[w_type]

    url = f'https://api.thingspeak.com/channels/12397/fields/{fields_n}.csv?results={n_data_pts}'
    df = pd.read_csv(url)
    
    return df

In [23]:
call_API('rainfall','2')

                created_at  entry_id  field5
0  2023-02-15 18:43:28 UTC   4281371       0
1  2023-02-15 18:44:28 UTC   4281372       0