Andres Mejia\
Lab 3\
Engr 114

# Sifting Weather Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('weather_data.xlsx', header=None)

In [3]:
print(df.shape)
df

(12, 31)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,0,0,272,0,0,0,0,9,26,1,...,1,15,224,0,0,0,0,0,33,33
1,61,103,0,2,0,0,0,2,0,68,...,0,0,5,0,0,0,62,-99999,-99999,-99999
2,2,0,17,27,0,10,0,0,30,25,...,26,0,0,9,6,78,0,5,8,0
3,260,1,0,0,0,1,3,0,5,0,...,0,0,0,0,9,35,13,86,0,-99999
4,47,0,0,0,5,115,49,81,0,0,...,0,0,0,0,0,2,0,0,0,0
5,0,0,30,42,0,0,0,0,0,0,...,0,2,2,240,16,35,14,14,8,-99999
6,0,0,0,0,0,0,0,7,0,0,...,0,0,0,10,0,0,5,0,0,0
7,0,45,0,0,0,0,0,0,5,0,...,0,0,158,62,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,37,0,0,0,0,6,138,58,10,-99999
9,0,0,0,14,156,0,0,0,0,110,...,0,0,0,0,0,0,0,0,0,1
10,1,163,5,0,0,0,0,0,0,0,...,0,2,2,10,255,2,0,0,0,-99999
11,0,0,0,0,0,45,0,0,0,15,...,34,0,0,0,0,0,0,0,0,0

In [4]:
wd = np.array(df)

In [5]:
print(type(wd))
print(wd.shape)

<class 'numpy.ndarray'>
(12, 31)

In [6]:
wd = wd*0.01

In [7]:
m = 0
md = wd[m,:]
print(md)

[0.   0.   2.72 0.   0.   0.   0.   0.09 0.26 0.01 0.   0.   0.   0.5
 0.85 0.   0.   0.9  0.09 0.   0.   0.01 0.15 2.24 0.   0.   0.   0.
 0.   0.33 0.33]

In [8]:
np.mean(md)

0.2735483870967742

In [9]:
md>-1

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [10]:
mask = md>-1
md = md[mask]
print(md)

[0.   0.   2.72 0.   0.   0.   0.   0.09 0.26 0.01 0.   0.   0.   0.5
 0.85 0.   0.   0.9  0.09 0.   0.   0.01 0.15 2.24 0.   0.   0.   0.
 0.   0.33 0.33]

In [11]:
# m_avg: average inches fallen in month m
# • m_max: maximum inches fallen in month m
# • d_max: day(s) of month m in which m_max inches fell
# • nd_zero: number of day(s) of month m in which zero inches fell
# • d_zero: day(s) of month m in which zero inches fell
# • d_nonzero: day(s) of month m in which at least some rain fell
# • nd_nonzero: number of day(s) in month m in which at least some rain fell
# • m_avg_nonzero: average inches of only day(s) in which some rain fell

In [12]:
m_avg = np.mean(md)
print('maximum inches fallen in month m: ', m_avg)

maximum inches fallen in month m:  0.2735483870967742

In [13]:
m_max = np.max(md)
print('maximum inches fallen in month m: ', m_max)

maximum inches fallen in month m:  2.72

In [14]:
d_max = np.where(md==m_max)
print('day(s) of month m in which m_max inches fell: ', d_max[0][0]+1)

day(s) of month m in which m_max inches fell:  3

In [15]:
nd_zero = np.where(md==0)
print('number of day(s) of month m in which zero inches fell: ', np.size(nd_zero))

number of day(s) of month m in which zero inches fell:  18

In [16]:
d_zero = np.where(md==0)
print('day(s) of month m in which zero inches fell: ', *d_zero[0]+1) # how do i get first comma out

day(s) of month m in which zero inches fell:  1 2 4 5 6 7 11 12 13 16 17 20 21 25 26 27 28 29

In [17]:
d_nonzero = np.where(md>0)
print('day(s) of month m in which at least some rain fell: ', *d_nonzero[0])

day(s) of month m in which at least some rain fell:  2 7 8 9 13 14 17 18 21 22 23 29 30

In [18]:
nd_nonzero = np.where(md>0)
print('number of day(s) in month m in which at least some rain fell: ', np.size(nd_nonzero))

number of day(s) in month m in which at least some rain fell:  13

In [19]:
mask1 = md>0
md1 = np.sum(md[mask1])
numdays = np.size(nd_nonzero)

print('average inches of only day(s) in which some rain fell: ', md1/numdays)

average inches of only day(s) in which some rain fell:  0.6523076923076924

In [20]:
print(type(md1))
print(type(numdays))

<class 'numpy.float64'>
<class 'int'>